
# Compiled source #
###################
*.o
*.so

# Project configuration files
#############################

.project
.pydevproject


# Python precompiled
####################
*/__pycache__
__pycache__
*.pyc


doc/build
dist
build
SkewTplus.egg-info

#.gitignore
